.usersPhoto {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.selectedPage {
    font-weight: bold;
    cursor: pointer;
}
.noSelectedPage {
    font-weight: normal;
    cursor: pointer;
}