.nav{
    grid-area: n;
    background-color: #cfc4dd;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
}
.item a {
    color: white;
    text-decoration: none;
}
.item a.activeLink {
    color: #351056;
}
